page-login {

   .conteudo {
       background: url('../../assets/imgs/bg.jpg') no-repeat center center/cover transparent;
       
       .grid-logo {
           ion-col {
               text-align: center;
           }
   
           img {
               width: 70px;
               margin-bottom: 50px;
           }
       }
   
       .conteudo-input {
   
           ion-item {
               border-radius: 30px;
               background-color: rgba(255, 255, 255, 0.3) !important;
   
               ion-input {
                   color: white;
               }
   
               ::placeholder {
                   color: #ddd;
               }
           }
   
       }
   
       .margem-input-top {
           margin-top: 20px;
       }
   
       .margem-btn-top {
           margin-top: 30px;
       }
   
       .margem-btnlink-top {
           margin-top: 10px;
       }
   
       .btn {
           background-color: #fa9600;
           border-radius: 30px;
           text-transform: capitalize;
       }
   }


   .btn-link {
       color: white;
       text-transform: none;
   }

}